*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  background: #121d35;
  color: #fff;
  height: 100vh;
  width: 16em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.8rem 0.85rem;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

nav .sidebar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav .sidebar-top .logo__icon {
  min-width: 2.1rem;
  margin: 0 0.8rem;
}

nav .sidebar-top .logo__title {
  padding-left: 0.5rem;
  font-size: 1.15rem;
  font-weight: 600;
}

nav .sidebar-top .shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: #121d35;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 10px -3px #462e76;
          box-shadow: 0 3px 10px -3px #462e76;
  right: -2.65rem;
  -webkit-transform: translateY(-50%) translateX(-8px);
          transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .sidebar-top .shrink-btn i {
  line-height: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .sidebar-top .shrink-btn:hover {
  background-color: #1f365d;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 2rem;
  height: 100vh;
  background: transparent;
}

nav:hover .shrink-btn,
nav .shrink-btn.hovered {
  -webkit-transform: translateY(-50%) translateX(0);
          transform: translateY(-50%) translateX(0);
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */
.hide {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body.shrink nav {
  width: 5.4rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body.shrink .shrink-btn i {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.search {
  min-height: 2.7rem;
  background-color: #1a2c4c;
  margin: 2rem 0.5rem 1.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.7rem 1fr;
      grid-template-columns: 2.7rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.search input {
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  caret-color: #fff;
  font-family: inherit;
}

.search input::-webkit-input-placeholder {
  color: #b8b8b8;
}

.search input:-ms-input-placeholder {
  color: #b8b8b8;
}

.search input::-ms-input-placeholder {
  color: #b8b8b8;
}

.search input::placeholder {
  color: #b8b8b8;
}

.sidebar-links ul {
  position: relative;
}

.sidebar-links ul li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-links ul .active-tab {
  position: absolute;
  top: 2.5px;
  left: 0;
  width: 100%;
  height: 3.3rem;
  background-color: #1a2c4c;
  border-radius: 10px;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.sidebar-links ul a {
  color: #c2c2c2;
  font-weight: 400;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.3rem;
}

.sidebar-links ul a:hover,
.sidebar-links ul a a.active {
  color: #fff;
}

.sidebar-links ul a.active i:first-child {
  opacity: 0;
}

.sidebar-links ul a.active i:last-child {
  opacity: 1;
  color: #c2c2c2;
}

.sidebar-links ul .link {
  -webkit-transition: opacity 0.3s 0.2s, color 0.3s;
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links ul .icons {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.sidebar-links ul .icons i {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-links ul .icons i:last-child {
  opacity: 0;
  color: #fff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem;
  color: 1f2027;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main h1 {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */