*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  // background: rgb(124, 122, 146); /* to be removed */
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  font-size: 16px;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

//----------------- Variables
// Colors
$blue-dark: #121d35;
$blue-light: #1a2c4c;
$blue-extra-light: #1f365d;
$blue-ouline: #24375b;

// Nav
nav {
  background: $blue-dark;
  color: #fff;
  height: 100vh;
  width: 16em;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.8rem 0.85rem;
  transition: width 0.5s ease-in-out;

  // Sidebar Top
  .sidebar-top {
    display: flex;
    align-items: center;
    position: relative;

    // logo
    .logo__icon {
      // width: 2.1rem;
      min-width: 2.1rem;
      margin: 0 0.8rem;
    }

    .logo__title {
      padding-left: 0.5rem;
      font-size: 1.15rem;
      font-weight: 600;
    }

    // Toggle Button
    .shrink-btn {
      position: absolute;
      top: 50%;
      height: 27px;
      padding: 0 0.3rem;
      background-color: $blue-dark;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 1);
      right: -2.65rem;
      transform: translateY(-50%) translateX(-8px);
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;

      & i {
        line-height: 27px;
        transition: 0.3s;
      }

      &:hover {
        background-color: $blue-extra-light;
      }
    }
  }
}
// Invisible Nav layer
nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 2rem;
  height: 100vh;
  background: transparent;
}
// Hover Nav to activate toggle btn / position
nav:hover .shrink-btn,
nav .shrink-btn.hovered {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s;
  transition-delay: 0.2s;
}

body.shrink nav {
  width: 5.4rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotateY(-180deg);
}

// Search
.search {
  min-height: 2.7rem;
  background-color: $blue-light;
  margin: 2rem 0.5rem 1.7rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;

  input {
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    caret-color: #fff;
    font-family: inherit;

    &::placeholder {
      color: rgb(184, 184, 184);
    }
  }
}

// Sidbar Links
.sidebar-links {
  li {
    padding: 2.5px 0;
  }

  a {
    color: #c2c2c2;
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    height: 3.3rem;

    &:hover,
    a.active {
      color: #fff;
    }
  }
  a.active i:first-child {
    opacity: 0;
  }

  a.active i:last-child {
    opacity: 1;
    color: red;
  }

  .link {
    transition: color 0.3s;
  }

  .icons {
    font-size: 1.3rem;
    text-align: center;
    min-width: 3.7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & i {
      grid-column: 1/2;
      grid-row: 1/2;
      transition: 0.3s;
    }

    i:last-child {
      opacity: 0;
      color: #fff;
    }
  }
}

// Main

main {
  flex: 1;

  padding: 3rem;
  color: 1f2027;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 1rem;
  }
}
